Source: globus-s3
Priority: optional
Maintainer: Globus Toolkit <support@globus.org>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.6
Section: libs
Homepage: http://github.com/globus/globus-s3
#Vcs-Git: git://anonscm.debian.org/collab-maint/globus-s3.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/globus-s3.git;a=summary

Package: libglobus-s3-dev
Section: libdevel
Architecture: any
Depends: globus-s3-0 (= ${binary:Version}), ${misc:Depends}
Description: Globus-modified version of libs3 with RADOS gateway support development packages

Package: libglobus-s3-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Globus-modified version of libs3 with RADOS gateway support 
